@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');
@import "./Styles/headerStyles.css";
@import "./Styles/navStyles.css";
@import "./Styles/contactStyles.css";
@import "./Styles/contentStyles.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  height: 600px;
  width: 1000px;
  padding: 10px;
  background-color: #F3F6FD;
  box-shadow: 0 0 40px 0 rgba(170, 170, 170, 0.3);
  border-radius: 30px;
  display: grid;
  grid-template-columns: 0.5fr 3fr 2fr;
  grid-template-rows: 10% 90%;
  grid-template-areas: "nav header header"
    "nav content contact";
}

@media screen and (max-width:999px) {

  body {
    background-color: #DFE1ED;

  }

  .dashboard {
    height: 100vh;
    width: 100vw;
    /* grid-template-columns: 0.5fr 2fr 2fr; */
  }
}


@media screen and (max-width:900px) {

  body {
    background-color: #DFE1ED;

  }

  .app {
    height: auto;
  }

  .dashboard {
    height: 100%;
    width: 80vw;
    grid-template-columns: 0.5fr 3fr 1fr;
    grid-template-rows: 70px 500px auto;
    grid-template-areas: "nav header header"
      "nav content content"
      "nav contact contact";
  }
}

@media screen and (max-width:700px) {

  .dashboard {
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
      "content content"
      "contact contact";
  }

}